main{
    padding: 10px;
}
button{
    width: 100%;
}
.navbar-brand{
    color: white !important;
    font-size: 200%;
}
.forecast-item{
    font-size:18px;
    background-color:#06367D;
    padding: 16px;
    color: white;
}
.forecast-icon{
    width: 30px;
}