main{
    padding: 10px;
}
button{
    width: 100%;
}
.navbar-brand{
    color: white !important;
    font-size: 200%;
}
.forecast-item{
    font-size:18px;
    background-color:aliceblue;
    padding: 16px;
    color: var(--bs-dark);
}
.forecast-icon{
    width: 30px;
}